<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control"  id="book-name" placeholder="Book's name" #bookName (input)="search(bookName.value)">
    <label for="book-name">Book's name</label>
  </div>

  <ul>
    <li *ngFor="let book of books$ | async">
      <a class="form-control" routerLink="{{routerLink}}{{book.id}}">
        {{book.name}} | {{book.author}}
      </a>
    </li>
  </ul>

</div>

<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control"  id="book-id" placeholder="Book's ID" #bookId (input)="searchById(Number(bookId.value))">
    <label for="book-id">Book's ID</label>
  </div>

  <ul>
    <li *ngFor="let book of booksId$ | async">
      <a class="form-control" routerLink="{{routerLink}}{{book.id}}">
        {{book.name}} | {{book.author}}
      </a>
    </li>
  </ul>
</div>
