<h2>BOOK SEARCH</h2>
<div>
    <label for="book-name">Search by books' name: </label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Book's name" aria-label="Book's name"
               aria-describedby="basic-addon2" id="book-name"#bookName (input)="search(bookName.value)">
    </div>

    <ul>
        <li *ngFor="let book of books$ | async">
            <a class="form-control" routerLink="/books/detail/{{book.id}}">
                {{book.name}} | {{book.author}}
            </a>
        </li>
    </ul>

</div>

<div>
    <label for="book-id">Search by books' ID: </label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Book's ID" aria-label="Book's ID"
               aria-describedby="basic-addon2" id="book-id"#bookId (input)="getBook(Number(bookId.value))">
    </div>

    <ul>
        <li *ngFor="let book of books$ | async">
            <a class="form-control" routerLink="/books/detail/{{book.id}}">
                {{book.name}} | {{book.author}}
            </a>
        </li>
    </ul>
</div>
