<div>
  <label for="book-name">Search by books' name: </label>
  <input id="book-name" #bookName (input)="search(bookName.value)"/>

  <ul class="search-result">
    <li *ngFor="let book of books$ | async">
      <a routerLink="/detail/{{book.id}}">
        {{book.name}}
      </a>
    </li>
  </ul>

</div>

<div>
  <label for="book-id">Search by books' ID: </label>
  <input id="book-id" #bookId (input)="getBook(Number(bookId.value))"/>

  <ul class="search-result">
    <li *ngIf="book">
      <a routerLink="/detail/{{book.id}}">
        {{book.name}}
      </a>
    </li>
  </ul>

</div>
