<table class="table">
  <tr>
    <th (click)="sort('id')">ID</th>
    <th (click)="sort('fname')">First Name</th>
    <th (click)="sort('lname')">Last name</th>
    <th (click)="sort('email')">Email</th>
    <th></th>
  </tr>

  <tr *ngFor="let customer of customers">
    <td>{{customer.id}}</td>
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.email}}</td>
    <td>
      <button class="btn btn-success" (click)="editCustomer.emit(customer.id)">Edit customer</button>
    </td>
  </tr>
</table>
