<form [formGroup]="form" (submit)="onFormSubmit()">
  <div></div>
  <label for="user">User:</label>
  <select #userSelect id="user" formControlName="user" (change)="changeSelectedUser(userSelect.value)">
    <option *ngFor="let user of users" [value]="user.id">{{user.id}} | {{user.name}}</option>
  </select>
  <ul *ngIf="selectedUser">
  <li>
    <div>ID: {{selectedUser.id}}</div>
    <div>Name: {{selectedUser.name}}</div>
    <div>Role: {{selectedUser.role}}</div>
  </li>
  </ul>
  <div></div>
  <label for="role">Role: </label>
  <select #role id="role" formControlName="role">
    <option *ngFor="let role of roles" [value]="role">{{role}}</option>
  </select>

  <div></div>
  <button type="submit" class="btn btn-success">
    Update user role
  </button>
</form>
