<div>
  <div>
    <h2 class="row justify-content-center">List of all books</h2>
    <table class="table table-striped table-bordered">
      <thead class="table table-light">
      <tr>
        <th>#</th>
        <th [sortable]="'id'" [shouldSort]="column" (sort)=sort($event)>ID</th>
        <th [sortable]="'name'" [shouldSort]="column" (sort)="sort($event)">Name</th>
        <th [sortable]="'author'" [shouldSort]="column" (sort)="sort($event)">Author</th>
        <th [sortable]="'count'" [shouldSort]="column" (sort)="sort($event)">Count</th>
        <th>Categories</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of bookResponse?.books; let i = index">
        <td *ngIf="bookResponse"><b>{{((bookResponse.pageNumber - 1) * bookResponse.pageSize) + i + 1}}</b></td>
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.count}}</td>
        <td><span *ngFor="let category of book.categories; last as isLast">
          {{category.name}}<span *ngIf="!isLast">,</span>
        </span></td>
        <td>
          <button *ngIf="isAdmin" class="btn btn-success" (click)="editBook.emit(book.id)">Edit book</button>
          <button *ngIf="!isAdmin" class="btn btn-success" (click)="bookDetail.emit(book.id)">Book detail</button>
          <button *ngIf="isAdmin" class="btn btn-danger m-lg-2" (click)="delete(book)">Delete book</button>
        </td>
      </tr>
      </tbody>
    </table>
    <label for="listingCount">Number of listings per page:</label>
    <select #value id="listingCount" (change)="changeListingCount(Number(value.value))">
      <option *ngFor="let number of numbers">{{number}}</option>
    </select>
    <ngb-pagination (pageChange)="onPageChange($event)"
                    [(page)]="pageNumber"
                    [pageSize]="pageSize"
                    [collectionSize]="bookResponse !== undefined && bookResponse.totalCount !== undefined ? bookResponse.totalCount : 0"
    ></ngb-pagination>
  </div>
</div>

