<table class="table">
  <tr>
    <th [sortable]="'id'" [shouldSort]="column" (sort)=sort($event)>ID</th>
    <th [sortable]="'name'" [shouldSort]="column" (sort)="sort($event)">Name</th>
    <th [sortable]="'author'" [shouldSort]="column" (sort)="sort($event)">Author</th>
    <th [sortable]="'count'" [shouldSort]="column" (sort)="sort($event)">Count</th>
    <th></th>
  </tr>

  <tr *ngFor="let book of bookResponse?.books">
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.author}}</td>
    <td>{{book.count}}</td>
    <td>
      <button class="btn btn-success" (click)="editBook.emit(book.id)">Edit book</button>
    </td>
  </tr>
</table>
<label for="listingCount">Number of listings per page:</label>
<select #value id="listingCount" (change)="changeListingCount(Number(value.value))">
  <option *ngFor="let number of numbers">{{number}}</option>
</select>
<ngb-pagination (pageChange)="onPageChange($event)"
  [(page)]="pageNumber"
  [pageSize]="pageSize"
  [collectionSize]="bookResponse !== undefined && bookResponse.totalCount !== undefined ? bookResponse.totalCount : 0"
></ngb-pagination>
