<form [formGroup]="form" (submit)="onFormSubmit()">

  <div>
    <h2>Remove category from book</h2>
    <label for="remove-category">Book category: </label>
    <select #bookCategorySelect id="remove-category" formControlName="categories"
            (change)="changeSelectedBookCategory(bookCategorySelect.value)">
      <option *ngFor="let bookCategory of bookCategories" [value]="bookCategory.id">{{bookCategory.id}}
        | {{bookCategory.name}}</option>
    </select>
    <ul *ngIf="selectedBookCategory">
      <li>
        <div>ID: {{selectedBookCategory.id}}</div>
        <div>Name: {{selectedBookCategory.name}}</div>
      </li>
    </ul>
    <div></div>
    <button type="submit" class="btn btn-primary">
      Remove category
    </button>
  </div>
</form>
