<div class="container">
  <div class="row">
    <div>
      <div class="card">
        <div class="card-header">
          <h4 class="d-flex justify-content-center">Update book categories</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (submit)="onFormSubmit()">

            <div>
              <div class="categories">
                <div *ngFor="let bookCategory of bookCategories; let i = index" formGroupName="categories">
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <label>
                        <input type="checkbox" id="new-bookcategory-bookId" [formControlName]="i">
                        {{bookCategory.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <ul *ngIf="selectedBookCategory">
                <li>
                  <div>ID: {{selectedBookCategory.id}}</div>
                  <div>Name: {{selectedBookCategory.name}}</div>
                </li>
              </ul>
              <div>
                <button type="submit" class="btn btn-success" [disabled]="!form.dirty">
                  Update book categories
                </button>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

