<h2>CUSTOMER SEARCH</h2>
<div>
    <label for="customer-first-name">Search by customer's first name:</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Customer's first name" aria-label="Customer's first name"
               aria-describedby="basic-addon2" id="customer-first-name"#firstName (input)="searchByFirstName(firstName.value)">
    </div>
    <ul >
        <li *ngFor="let customer of customerFirstNames$ | async">
            <a class="form-control" routerLink="/customers/detail/{{customer.id}}">
                {{customer.firstName}} {{customer.lastName}}
            </a>
        </li>
    </ul>

</div>


<div>
    <label for="customer-last-name">Search by customer's last name:</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Customer's last name" aria-label="Customer's last name"
               aria-describedby="basic-addon2" id="customer-last-name"#lastName (input)="searchByLastName(lastName.value)">
    </div>
    <ul >
        <li *ngFor="let customer of customerLastNames$ | async">
            <a class="form-control" routerLink="/customers/detail/{{customer.id}}">
                {{customer.firstName}} {{customer.lastName}}
            </a>
        </li>
    </ul>

</div>

<div>
    <label for="customer-full-name">Search by customer's full name:</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Customer's full name" aria-label="Customer's full name"
               aria-describedby="basic-addon2" id="customer-full-name"#fullName (input)="searchByFullName(fullName.value)">
    </div>
    <ul >
        <li *ngFor="let customer of customers$ | async">
            <a class="form-control" routerLink="/customers/detail/{{customer.id}}">
                {{customer.firstName}} {{customer.lastName}}
            </a>
        </li>
    </ul>

</div>

<div>
    <label for="customer-id">Search by customer's ID: </label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Customer's ID" aria-label="Customer's ID"
               aria-describedby="basic-addon2" id="customer-id"#customerId (input)="searchById(Number(customerId.value))">
    </div>
    <ul >
        <li *ngFor="let customer of customerIds$ | async">
            <a class="form-control" routerLink="/customers/detail/{{customer.id}}">
                {{customer.firstName}} {{customer.lastName}}
            </a>
        </li>
    </ul>

</div>
