<lib-toastify-toast-container></lib-toastify-toast-container>
<div *ngIf="book">
  <h2>{{book.name | uppercase}} details</h2>
  <div>ID: {{book.id}}</div>
  <div>Name: {{book.name}}</div>
  <div>Author: {{book.author}}</div>
  <div>Isbn: {{book.isbn}}</div>
  <div>Count: {{book.count}}</div>
  <div>Status: {{book.status}}</div>
  <div>Categories:
    <ul>
      <li *ngFor="let bookCategory of book.categories">
        <div>ID: {{bookCategory.id}}</div>
        <div>Name: {{bookCategory.name}}</div>
      </li>
    </ul>
  </div>
  <div>Borrowings:
    <ul>
      <li *ngFor="let bookBorrowing of book.borrowings">
        <div>ID: {{bookBorrowing.id}}</div>
        <div>Date: {{bookBorrowing.dateOfBorrowing}}</div>
      </li>
    </ul>
  </div>
  <div>
    <button class="btn btn-dark" (click)="goBack()">Back</button>
    <button class="btn btn-danger" (click)="delete(book)">Delete book</button>


  </div>
  <app-book-page-form (formSubmit)="updateBook($event)">
  </app-book-page-form>

  <div>
    <app-book-form-add-category [bookCategories]="bookCategoryList"
                                (formSubmit)="addCategory($event)">
    </app-book-form-add-category>
  </div>

  <div>
    <app-book-form-remove-category [bookCategories]="book.categories" (formSubmit)="removeCategory($event)">

    </app-book-form-remove-category>
  </div>
</div>

