<div *ngIf="customer">
    <h2>{{customer.firstName | uppercase}} {{customer.lastName | uppercase}} details</h2>
    <div>id: {{customer.id}}</div>
    <div>first name: {{customer.firstName}}</div>
    <div>last name: {{customer.lastName}}</div>
    <div>email: {{customer.email}}</div>
    <div>borrowings:
    <ul>
        <li *ngFor="let borrowing of customer.borrowings">
            <div>id = {{borrowing.id}}</div>
            <div>date = {{borrowing.dateOfBorrowing}}</div>
            <div>book = {{borrowing.book}}</div>
        </li>
    </ul>
    </div>
    <button type="button" (click)="goBack()">Back</button>
    <button type="button" class="delete" title="Delete customer"
            (click)="delete(customer)">Delete customer
    </button>
</div>

<div>
    <h2>Update customer:</h2>
    <label for="customer-firstName">First name:</label>
    <input id="customer-firstName" #firstName>
    <div></div>
    <label for="customer-lastName">Last name:</label>
    <input id="customer-lastName" #lastName>
    <div></div>
    <label for="customer-email">Email:</label>
    <input id="customer-email" #email>
    <div></div>
    <button class="add-button" (click)="updateCustomer(firstName.value,lastName.value,email.value)">Update customer</button>
</div>
