<h1>Books</h1>
<div>
  <button (click)="openModal(addBookModal)">Add book</button>

<h2>List of all books: </h2>
  <app-book-page-list [books]="books" (editBook)="editBook($event)">

  </app-book-page-list>
</div>

<ng-template #addBookModal #content let-modal>
  <div class="modal-header"></div>
  <h4 class="modal-title" id="modal-basic-title">Add a new book</h4>
  <div class="modal-body">
    <span>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  <app-book-page-form (formSubmit)="add($event)"  (formSubmit)="modal.close()">
  </app-book-page-form>
    </span>
  </div>
</ng-template>
