<lib-toastify-toast-container></lib-toastify-toast-container>
<h1>Customers</h1>

<div>
  <button class="btn btn-success"  (click)="openModal(addCustomerModal)">Add customer</button>

  <h2>List of all customers:</h2>
  <app-customer-list [customers]="customers" (editCustomer)="editCustomer($event)">

  </app-customer-list>
</div>

<ng-template #addCustomerModal #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new customer</h4>
    <button class="btn-close"  (click)="modal.close('Cross click')"></button>
  </div>
  <div class="modal-body">
    <span>
  <app-customer-page-form (formSubmit)="add($event); modal.close()">
  </app-customer-page-form>
    </span>
  </div>
</ng-template>

<div>
  <button class="btn btn-dark"  type="button" (click)="goBack()">Back</button>
</div>
