<div class="container">
  <div class="row">
    <div>
      <div class="card">
        <div class="card-header">
          <h4 class="d-flex justify-content-center">
            {{form.controls.id.value !== null ? 'Update customer' : 'Create a new customer'}}
          </h4>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (submit)="onFormSubmit()">

            <div class="mb-2">
              <div>
                <input type="text" class="form-control" placeholder="Customer's first name"
                       aria-label="Customer's first name"
                       aria-describedby="basic-addon2" id="customer-first-name" formControlName="firstName">
              </div>
            </div>

            <div class="mb-2">
              <div>
                <input type="text" class="form-control" placeholder="Customer's last name"
                       aria-label="Customer's last name"
                       aria-describedby="basic-addon2" id="customer-last-name" formControlName="lastName">
              </div>
            </div>

            <div>
              <div>
                <input type="email" class="form-control" placeholder="Customer's email address"
                       formControlName="email">
              </div>
            </div>

            <button type="submit" class="btn btn-success mt-2" [disabled]="!form.valid">
              {{ form.controls.id.value !== null ? 'Update customer' : 'Add customer' }}
            </button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
