<lib-toastify-toast-container></lib-toastify-toast-container>
<h1>{{title}}</h1>
<nav>
  <div>
    <app-authentification></app-authentification>
  </div>
  <app-registration-page></app-registration-page>
  <a routerLink="/dashboard" class="btn btn-primary">Dashboard</a>
  <a routerLink="/books" class="btn btn-primary"> Books</a>
  <a routerLink="/book-categories" class="btn btn-primary">Book categories</a>
  <a routerLink="/customers" class="btn btn-primary">Customers</a>
  <a routerLink="/borrowings" class="btn btn-primary">Borrowings</a>
</nav>
<router-outlet></router-outlet>

