<lib-toastify-toast-container></lib-toastify-toast-container>

<div class="container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <h1>Library</h1>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="javascript:void(0)" routerLink="/dashboard" routerLinkActive="link-active"
           class="nav-link px-2 link-dark">Home</a>
      </li>
      <li><a *ngIf="isLogged()" routerLink="/books" href="#" routerLinkActive="link-active"
             class="nav-link px-2 link-dark">Books</a></li>
      <li><a *ngIf="isLogged()" routerLink="/book-categories" routerLinkActive="link-active" href="#"
             class="nav-link px-2 link-dark">Book
        categories</a></li>
      <li><a *ngIf="isAdmin()" routerLink="/customers" href="#" routerLinkActive="link-active"
             class="nav-link px-2 link-dark">Customers</a></li>
      <li><a *ngIf="isAdmin()" routerLink="/borrowings" href="#" routerLinkActive="link-active"
             class="nav-link px-2 link-dark">Borrowings</a></li>
      <li><a *ngIf="isAdmin()" routerLink="/users" href="#" routerLinkActive="link-active"
             class="nav-link px-2 link-dark">Users</a></li>
      <li><a *ngIf="isLogged()" routerLink="/settings" href="#" routerLinkActive="link-active"
             class="nav-link px-2 link-warning">Settings</a></li>
      <li><a *ngIf="isAdmin()" routerLink="/administration" href="#" routerLinkActive="link-active"
             class="nav-link px-2 link-warning">Administration</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <app-authentication></app-authentication>
      <button *ngIf="!isLogged()" type="button" routerLink="/register" class="btn btn-secondary m-lg-2">Sign-up</button>
      <button *ngIf="isLogged()" type="button" (click)="logout()" class="btn btn-danger">Logout</button>
    </div>
  </header>
</div>

<main class="p-4">
  <router-outlet></router-outlet>
</main>

