<div *ngIf="book" class="row justify-content-center">
  <div class="col-xl-9">
    <button class="btn btn-dark" (click)="goBack()">Back</button>
    <table class="table table-bordered table-striped mt-2">
      <thead class="table table-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Count</th>
        <th>Status</th>
        <th>Categories</th>
        <th>Borrowings</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.count}}</td>
        <td>{{book.status}}</td>
        <td>
          <table class="table mb-0 table-striped table-bordered table-hover">
            <thead class="table table-light">
            <tr>
              <th>ID</th>
              <th>Category name</th>
            </tr>
            </thead>
            <tbody>
            <tr role="button" (click)="routeCategoryAdmin(category.id)" *ngFor="let category of book.categories">
              <td>{{category.id}}</td>
              <td>{{category.name}}</td>
            </tr>
            </tbody>
          </table>
          <!--          <span *ngFor="let category of book.categories; last as isLast">
                      {{category.name}}<span *ngIf="!isLast">,</span>
                    </span>-->
        </td>
        <td>
          <table class="table mb-0 table-striped table-bordered table-hover">
            <thead class="table table-light">
            <tr>
              <th>ID</th>
              <th>Date of borrowing</th>
            </tr>
            </thead>
            <tbody>
            <tr role="button" (click)="routeBorrowingAdmin(borrowing.id)" *ngFor="let borrowing of book.borrowings">
              <td>{{borrowing.id}}</td>
              <td>{{borrowing.dateOfBorrowing | date}}</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row pb-3">
      <div class="col-xl-3">
        <app-book-page-form [bookData]="book" (formSubmit)="updateBook($event)">
        </app-book-page-form>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3">
        <app-book-form-add-category [selectedBook]="book" [bookCategories]="bookCategoryList"
                                    (formSubmit)="updateCategory($event)">
        </app-book-form-add-category>
      </div>
    </div>
  </div>
</div>


