<table class="table">
  <tr>
    <th (click)="sort('id')">ID</th>
    <th (click)="sort('bookid')">Book ID</th>
    <th (click)="sort('bookname')">Book name</th>
    <th (click)="sort('customerid')">Customer ID</th>
    <th (click)="sort('customerfname')">Customer first name</th>
    <th (click)="sort('customerlname')">Customer last name</th>
    <th ></th>
  </tr>

  <tr *ngFor="let borrowing of borrowings">
    <td>{{borrowing.id}}</td>
    <td>{{borrowing.book.id}}</td>
    <td>{{borrowing.book.name}}</td>
    <td>{{borrowing.customer.id}}</td>
    <td>{{borrowing.customer.firstName}}</td>
    <td>{{borrowing.customer.lastName}}</td>
    <td>
      <button type="button" class="btn btn-success" (click)="editBorrowing.emit(borrowing.id)">Edit borrowing</button>
    </td>
  </tr>
</table>
