<table class="table">
  <tr>
    <th>ID</th>
    <th>Book ID</th>
    <th (click)="sort('book.name')">Book name</th>
    <th>Customer ID</th>
    <th (click)="sort('customer.firstName')">Customer first name</th>
    <th (click)="sort('customer.lastName')">Customer last name</th>
    <th ></th>
  </tr>

  <tr *ngFor="let borrowing of borrowings">
    <td class="id">{{borrowing.id}}</td>
    <td>{{borrowing.book.id}}</td>
    <td>{{borrowing.book.name}}</td>
    <td>{{borrowing.customer.id}}</td>
    <td>{{borrowing.customer.firstName}}</td>
    <td>{{borrowing.customer.lastName}}</td>
    <td>
      <button type="button" class="btn btn-success" (click)="editBorrowing.emit(borrowing.id)">Edit borrowing</button>
    </td>
  </tr>
</table>
