<!--
<form [formGroup]="form">
  <h2>Add a new customer-page</h2>
  <div></div>
  <label for="new-customer-page-firstName">First name:</label>
  <input id="new-customer-page-firstName" #firstName/>
  <div></div>
  <label for="new-customer-page-lastName">Last name:</label>
  <input id="new-customer-page-lastName" #lastName>
  <div></div>
  <label for="new-customer-page-email">Email:</label>
  <input id="new-customer-page-email" #email>
  <div></div>
  <button type="button" class="add-button" (click)="add(firstName.value,lastName.value,email.value)">Add customer-page</button>
</>
-->
