<form [formGroup]="form" (submit)="onFormSubmit()">

  <div>
    <label for="customer-first-name">First name: </label>
    <input id="customer-first-name" type="text" formControlName="firstName">
  </div>

  <div>
    <label for="customer-last-name">Last name: </label>
    <input id=customer-last-name type="text" formControlName="lastName">
  </div>

  <div>
    <label for="customer-email">Email: </label>
    <input id="customer-email" type="text" formControlName="email">
  </div>

  <button type="submit" class="btn btn-primary">
    {{ form.controls.id.value !== null ? 'Update customer' : 'Add customer' }}
  </button>

</form>
