<button (click)="openModal(registerClientModal)" class="btn btn-primary">Register</button>

<ng-template #registerClientModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Register a new user</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-register-form (formSubmit)="registerUser($event);modal.close()">
    </app-register-form>
  </div>
</ng-template>
