<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="row justify-content-center">Book filtering</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (submit)="onFormSubmit()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Filter by book's name" formControlName="name">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Filter by author's name" formControlName="author">
            </div>
            <div>
              <div class="input-group mb-3">
                <select class="form-select" #categorySelect formControlName="category"
                        (change)="changeSelectedCategory(categorySelect.value)">
                  <option [defaultSelected]="true" value="">Filter by book category...</option>
                  <option *ngFor="let category of bookCategories" [value]="category.name">
                    {{category.name}}
                  </option>
                </select>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" type="submit">Filter</button>
              <button class="btn btn-secondary m-lg-2" type="reset">Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

