<div *ngIf="customer" class="row justify-content-center">
  <div class="col-xl-9">
    <button class="btn btn-dark" (click)="goBack()">Back</button>
    <table class="table table-bordered table-striped mt-2">
      <thead class="table table-light">
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Borrowings</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{customer.id}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.email}}</td>
        <td>
          <table class="table mb-0 table-striped table-bordered table-hover">
            <thead class="table table-light">
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Book</th>
            </tr>
            </thead>
            <tbody>
            <tr role="button" (click)="routeBorrowingAdmin(borrowing.id)" *ngFor="let borrowing of customer.borrowings">
              <td>{{borrowing.id}}</td>
              <td>{{borrowing.dateOfBorrowing | date: 'dd.MM.yyyy'}}</td>
              <td>
                <table class="table mb-0 table-secondary table-bordered table-hover">
                  <thead class="table table-light">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Author</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr role="button" (click)="routeBookAdmin(borrowing.book.id)">
                    <td>{{borrowing.book.id}}</td>
                    <td>{{borrowing.book.name}}</td>
                    <td>{{borrowing.book.author}}</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <div class="row">
        <div class="col-xl-3">
          <app-customer-page-form [customerData]="customer" (formSubmit)="updateCustomer($event)">
          </app-customer-page-form>
        </div>
      </div>
    </div>
  </div>
</div>
