<div *ngIf="borrowing">
  <h2>Borrowing ID: {{borrowing.id}} details:</h2>
  <ul>
    <li>
      <div>ID: {{borrowing.id}}</div>
      <div>Date of borrowing: {{borrowing.dateOfBorrowing}}</div>
      <div>Book:</div>
      <ul>
        <li>
          <div>ID: {{borrowing.book.id}}</div>
          <div>Name: {{borrowing.book.name}}</div>
          <div>Author: {{borrowing.book.author}}</div>
          <div>ISBN: {{borrowing.book.isbn}}</div>
          <div>Status: {{borrowing.book.status}}</div>
          <div>Count: {{borrowing.book.count}}</div>
          <div>Categories:</div>
          <ul>
            <li *ngFor="let bookCategory of borrowing.book.categories">
              <div>ID: {{bookCategory.id}}</div>
              <div>Name: {{bookCategory.name}}</div>
            </li>
          </ul>
        </li>
      </ul>
      <div>Customer:</div>
      <ul>
        <li>
          <div>ID: {{borrowing.customer.id}}</div>
          <div>First name: {{borrowing.customer.firstName}}</div>
          <div>Last name: {{borrowing.customer.lastName}}</div>
          <div>Email: {{borrowing.customer.email}}</div>
        </li>
      </ul>
    </li>
  </ul>
  <button type="button" (click)="goBack()">Back</button>
  <button type="button" class="delete" title="Delete customer-page"
          (click)="deleteBorrowing()">Delete borrowing
  </button>

<h2>Update borrowing</h2>
<app-borrowing-page-form [books]="bookList" [customers]="customerList" [borrowingData]="borrowing" (formSubmit)="updateBorrowing($event)">

</app-borrowing-page-form>

<!--
<div *ngIf="borrowing-page">
  <h2>Borrowing ID: {{borrowing-page.id}} details:</h2>
  <ul>
    <li>
      <div>ID: {{borrowing-page.id}}</div>
      <div>Date of borrowing-page: {{borrowing-page.dateOfBorrowing}}</div>
      <div>Book:</div>
      <ul>
        <li>
          <div>ID: {{borrowing-page.book-page.id}}</div>
          <div>Name: {{borrowing-page.book-page.name}}</div>
          <div>Author: {{borrowing-page.book-page.author}}</div>
          <div>ISBN: {{borrowing-page.book-page.isbn}}</div>
          <div>Status: {{borrowing-page.book-page.status}}</div>
          <div>Count: {{borrowing-page.book-page.count}}</div>
          <div>Categories:</div>
          <ul>
            <li *ngFor="let bookCategory of borrowing-page.book-page.categories">
              <div>ID: {{bookCategory.id}}</div>
              <div>Name: {{bookCategory.name}}</div>
            </li>
          </ul>
        </li>
      </ul>
      <div>Customer:</div>
      <ul>
        <li>
          <div>ID: {{borrowing-page.customer-page.id}}</div>
          <div>First name: {{borrowing-page.customer-page.firstName}}</div>
          <div>Last name: {{borrowing-page.customer-page.lastName}}</div>
          <div>Email: {{borrowing-page.customer-page.email}}</div>
        </li>
      </ul>
    </li>
  </ul>
  <button type="button" (click)="goBack()">Back</button>
  <button type="button" class="delete" title="Delete customer-page"
          (click)="deleteBorrowing()">Delete borrowing-page
  </button>


&lt;!&ndash;  <div>
    <h2>Update borrowing-page:</h2>
    <div>
    </div>
    <label for="borrowing-page-bookid">Book ID: </label>
    <input id="borrowing-page-bookid" #bookId>
    <div></div>

    <label for="borrowing-page-customerid">Customer ID:</label>
    <input id="borrowing-page-customerid" #customerId>
    <div></div>

    <button class="add-button" type="button" (click)="updateBorrowing(Number(bookId.value),Number(customerId.value))">
      Update borrowing-page
    </button>
  </div>&ndash;&gt;
-->
