<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Book's ID" id="book-id" #bookId
           (input)="searchByBookId(Number(bookId.value))">
    <label for="book-id">Book's ID</label>
  </div>

  <ul>
    <li *ngFor="let borrowing of borrowingBooks$ | async">
      <a class="form-control" routerLink="/borrowings/edit/{{borrowing.id}}">
        ID = {{borrowing.id}}, Date = {{borrowing.dateOfBorrowing}}, Book name = {{borrowing.book.name}}, Customer name
        = {{borrowing.customer.lastName}}
      </a>
    </li>
  </ul>
</div>

<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Customer's ID" id="customer-id" #customerId
           (input)="searchByCustomerId(Number(customerId.value))">
    <label for="customer-id">Customer's ID</label>
  </div>
  <ul>
    <li *ngFor="let borrowing of borrowingCustomers$ | async">
      <a class="form-control" routerLink="/borrowings/edit/{{borrowing.id}}">
        ID = {{borrowing.id}}, Date = {{borrowing.dateOfBorrowing}}, Book name = {{borrowing.book.name}}, Customer name
        = {{borrowing.customer.lastName}}
      </a>
    </li>
  </ul>
</div>

<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Borrowing's ID" id="borrowing-id" #borrowingId
           (input)="searchById(Number(borrowingId.value))">
    <label for="borrowing-id">Borrowing's ID</label>
  </div>
  <ul>
    <li *ngFor="let searchedBorrowing of borrowings$ | async">
      <a class="form-control" routerLink="/borrowings/edit/{{searchedBorrowing.id}}">
        ID = {{searchedBorrowing.id}}, Date = {{searchedBorrowing.dateOfBorrowing}}, Book name
        = {{searchedBorrowing.book.name}}, Customer name = {{searchedBorrowing.customer.lastName}}
      </a>
    </li>
  </ul>

</div>
