<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Book's ID" id="book-id" #bookId
           (input)="searchByBookId(Number(bookId.value))">
    <label for="book-id">Book's ID</label>
  </div>

  <ol class="list-group list-group-numbered">
    <li routerLink="/borrowings/edit/{{borrowing.id}}" class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let borrowing of borrowingBooks$ | async">
      <div class="ms-2 me-auto">
        <div class="fw-bold">ID: {{borrowing.id}}, Date: {{borrowing.dateOfBorrowing | date: 'dd.MM.yyyy'}}</div>
        Book name: {{borrowing.book.name}}, Customer last name: {{borrowing.customer.lastName}}
      </div>
    </li>
  </ol>
</div>

<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Customer's ID" id="customer-id" #customerId
           (input)="searchByCustomerId(Number(customerId.value))">
    <label for="customer-id">Customer's ID</label>
  </div>
  <ol class="list-group list-group-numbered">
    <li routerLink="/borrowings/edit/{{borrowing.id}}" class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let borrowing of borrowingCustomers$ | async">
      <div class="ms-2 me-auto">
        <div class="fw-bold"> ID: {{borrowing.id}}, Date: {{borrowing.dateOfBorrowing | date: 'dd.MM.yyyy'}}</div>
        Book name: {{borrowing.book.name}}, Customer last name: {{borrowing.customer.lastName}}
        </div>
    </li>
  </ol>
</div>

<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Borrowing's ID" id="borrowing-id" #borrowingId
           (input)="searchById(Number(borrowingId.value))">
    <label for="borrowing-id">Borrowing's ID</label>
  </div>
  <ol class="list-group list-group-numbered">
    <li routerLink="/borrowings/edit/{{borrowing.id}}" class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let borrowing of borrowings$ | async">
      <div class="ms-2 me-auto">
        <div class="fw-bold"> ID: {{borrowing.id}}, Date: {{borrowing.dateOfBorrowing | date: 'dd.MM.yyyy'}}</div>
        Book name: {{borrowing.book.name}}, Customer last name: {{borrowing.customer.lastName}}
      </div>
    </li>
  </ol>

</div>
