<div>
  <div>
    <h2 class="row justify-content-center m-3">List of all customers</h2>
    <table class="table table-striped table-bordered">
      <thead class="table-light">
      <tr>
        <th>#</th>
        <th [sortable]="'id'" [shouldSort]="column" (sort)="sort($event)">ID</th>
        <th [sortable]="'firstName'" [shouldSort]="column" (sort)="sort($event)">First Name</th>
        <th [sortable]="'lastName'" [shouldSort]="column" (sort)="sort($event)">Last name</th>
        <th [sortable]="'email'" [shouldSort]="column" (sort)="sort($event)">Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customerResponse?.customers; let i = index">
        <td *ngIf="customerResponse"><b>{{((customerResponse.pageNumber - 1) * customerResponse.pageSize) + i + 1}}</b>
        </td>
        <td>{{customer.id}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.email}}</td>
        <td>
          <button *ngIf="isAdmin" class="btn btn-success" (click)="editCustomer.emit(customer.id)">Edit customer
          </button>
          <button *ngIf="!isAdmin" class="btn btn-success" (click)="customerDetail.emit(customer.id)">Customer detail
          </button>
          <button *ngIf="isAdmin" class="btn btn-danger m-lg-2" (click)="deleteCustomer.emit(customer.id)">Delete
            customer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<label for="listingCount">Number of listings per page:</label>
<select #value id="listingCount" (change)="changeListingCount(Number(value.value))">
  <option *ngFor="let number of numbers">{{number}}</option>
</select>
