<form [formGroup]="form" (submit)="onFormSubmit()">

  <h2>{{ form.controls.id.value !== undefined ? 'Update book' : 'New book details:'}} </h2>
  <div>
    <label for="book-name">Name: </label>
    <input id="book-name" type="text" formControlName="name">
  </div>

  <div>
    <label for="book-author">Author: </label>
    <input id=book-author type="text" formControlName="author">
  </div>

  <div>
    <label for="book-count">Count: </label>
    <input id="book-count" type="number" formControlName="count">
  </div>

  <button type="submit" class="btn btn-success">
    {{ form.controls.id.value !== undefined ? 'Update book' : 'Add book' }}
  </button>
</form>
