<h1>Borrowings</h1>

<button class="btn btn-primary"  (click)="openModal(addBorrowingModal)">Add borrowing</button>

<h2>List of all borrowings: </h2>
<app-borrowing-page-list [borrowings]="borrowings" (editBorrowing)="editBorrowing($event)">

</app-borrowing-page-list>

<ng-template #addBorrowingModal #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a new borrowing</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <span>
<app-borrowing-page-form [books]="bookList" [customers]="customerList" (formSubmit)="add($event); modal.close()">
</app-borrowing-page-form>
    </span>
  </div>
</ng-template>

<div>
  <button class="btn btn-primary"  type="button" (click)="goBack()">Back</button>
</div>
