<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Book category's name"  id="book-category-name" #bookCategoryName
           (input)="search(bookCategoryName.value)">
    <label for="book-category-name">Book category's name</label>
  </div>

  <ul>
    <li *ngFor="let bookCategory of bookCategories$ | async">
      <a class="form-control" routerLink="{{routerLink}}{{bookCategory.id}}">
        {{bookCategory.name}}
      </a>
    </li>
  </ul>
</div>

<div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Book category's ID"  id="book-category-id" #bookCategoryId
           (input)="searchById(Number(bookCategoryId.value))">
    <label for="book-category-id">Book category's ID</label>
  </div>
  <ul>
    <li *ngFor="let bookCategory of bookCategoriesIds$ | async">
      <a class="form-control" routerLink="{{routerLink}}{{bookCategory.id}}">
        {{bookCategory.name}}
      </a>
    </li>
  </ul>

</div>
