<h1>Books</h1>
<div>
  <h2>Add a new book</h2>
  <div></div>
  <label for="new-book-name">Book name: </label>
  <input id="new-book-name" #bookName/>
  <div></div>
  <label for="new-book-author">Book author: </label>
  <input id="new-book-author" #bookAuthor>
  <div></div>
  <label for="new-book-count">Book count: </label>
  <input id="new-book-count" #bookCount>
  <div></div>
  <button type="button" class="add-button" (click)="add(bookName.value,bookAuthor.value,Number(bookCount.value))">Add book</button>
</div>
<!--<div>
  <label for="book-name">Search by books name: </label>
  <input id="book-name" #bookName/>
  <button type="button" class="search-button" (click)="search(bookName.value)">Search</button>
</div>-->
<h2>List of all books: </h2>
<ul class="books">
  <li *ngFor="let book of books">
    <a routerLink="/detail/{{book.id}}">
      <span class="id">{{book.id}}</span> {{book.name}}
    </a>
    <!--<button type="button" class="delete" title="Delete book"
            (click)="delete(book)">Delete book</button>-->
    <!--<button [class.selected]="book === selectedBook" type="button" (click)="onSelect(book)">
      <span class="id">{{book.id}}</span>
      <span class="name">{{book.name}}</span>
      <span class="author">{{book.author}}</span>
      <span class="status">{{book.status}}</span>
    </button>-->
  </li>
</ul>
