<h2>BOOK CATEGORY SEARCH</h2>
<div>
  <label for="book-category-name">Search by book category's name: </label>
  <input id="book-category-name" #bookCategoryName (input)="search(bookCategoryName.value)">

  <ul class="search-result">
    <li *ngFor="let bookCategory of bookCategories$ | async">
      <a routerLink="/book-categories/detail/{{bookCategory.id}}">
        {{bookCategory.name}}
      </a>
    </li>
  </ul>
</div>

<div>
  <label for="book-category-id">Search by book category's ID: </label>
  <input id="book-category-id" #bookCategoryId (input)="getBookCategory(Number(bookCategoryId.value))">

  <ul class="search-result">
    <li *ngIf="bookCategory">
      <a routerLink="/book-categories/detail/{{bookCategory.id}}">
        {{bookCategory.name}}
      </a>
    </li>
  </ul>

</div>
