<table class="table">
  <tr>
    <th [sortable]="'id'" (sort)="sort($event)">ID</th>
    <th [sortable]="'name'" (sort)="sort($event)">Name</th>
    <th></th>
  </tr>

  <tr *ngFor="let category of categories | slice:(page-1) * pageSize : page * pageSize">
    <td>{{category.id}}</td>
    <td>{{category.name}}</td>
    <td>
      <button class="btn btn-success"  (click)="editCategory.emit(category.id)">Edit category</button>
    </td>
  </tr>
</table>
<label for="listingCount">Number of listings per page:</label>
<select #value id="listingCount" (change)="changeListingCount(Number(value.value))">
  <option *ngFor="let number of numbers">{{number}}</option>
</select>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="categories.length"
></ngb-pagination>
