table, th, td {
  border: 1px solid black;
}

th,td {
  text-align: center;
}

.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  background-color: lightgrey;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}
